body{
    background-image: url(./DaBbleBackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

